{
	"env": {
		"es6": true,
		"browser": true
	},
	"rules": {
		"no-tabs": "off",
		"indent": [2, "tab"],
		"no-plusplus": "off",
		"arrow-parens": "off",
		"comma-dangle": "off",
		"func-names": "off",
		"wrap-iife": "off",
		"prefer-const": "warn",
		"no-param-reassign": "warn",
		"no-alert": "off",
		"quotes": "off",
		"linebreak-style": "off",
		"no-var": "warn",
		"vars-on-top": "warn",
		"block-scoped-var": "warn",
		"operator-linebreak": "off",
		"max-len": ["warn", 200],
		"prefer-destructuring": "off"
	},
	"extends": ["airbnb/base"],
	"plugins": ["prettier"]
}
